:root {
  --black: #222222;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;;
  color: var(--black);
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

textarea {
  padding: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
}
